app/code/core/
app/design/adminhtml/
app/design/frontend/base/
app/design/frontend/default/
app/design/install/
app/etc/
app/.htaccess
app/locale/
app/Mage.php
lib/
downloader/
errors/
var/
media/
shell/
skin/
js/
.*

LICENSE*
RELEASE_NOTES.txt
app/code/community/
cron.*
favicon.ico
includes/
index.*
install.php
php.ini.sample
pkginfo/
pear
