<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Dhmedia_Devel>
			<version>0.3.3</version>
		</Dhmedia_Devel>
	</modules>
	<global>
		<blocks>
			<devel>
				<class>Dhmedia_Devel_Block</class>
			</devel>
			<page>
				<rewrite>
					<html>Dhmedia_Devel_Block_Page_Html</html>
					<html_head>Dhmedia_Devel_Block_Page_Html_Head</html_head>
				</rewrite>
			</page>
		</blocks>
		<helpers>
			<devel>
				<class>Dhmedia_Devel_Helper</class>
			</devel>
		</helpers>
		<models>
			<devel>
				<rewrite>
					<file_template>Dhmedia_Devel_Model_File_Template</file_template>
					<file_layout>Dhmedia_Devel_Model_File_Layout</file_layout>
					<writer_localxml>Dhmedia_Devel_Model_Writer_Localxml</writer_localxml>
				</rewrite>
			</devel>
			<core>
				<rewrite>
					<layout_update>Dhmedia_Devel_Model_Layout_Update</layout_update>
				</rewrite>
			</core>
		</models>
	</global>
	<frontend>
		<routers>
			<devel>
				<use>standard</use>
				<args>
					<module>Dhmedia_Devel</module>
					<frontName>devel</frontName>
				</args>
			</devel>
		</routers>
		<layout>
			<updates>
				<devel>
					<file>devel/frontend.xml</file>
				</devel>
			</updates>
		</layout>
	</frontend>
	<adminhtml>
		<layout>
			<updates>
				<devel>
					<file>devel/backend.xml</file>
				</devel>
			</updates>
		</layout>
		<acl>
			<resources>
				<admin>
                    <children>
                        <devel translate="title">
                            <title>Devel - Advanced Developer Tools</title> 
                            <sort_order>9999</sort_order>
                        </devel>
                    </children>
                </admin>
			</resources>
		</acl>
	</adminhtml>
	<default>
		<dev>
			<dhmedia_devel>
				<allow_valid_ip_only>0</allow_valid_ip_only>
			</dhmedia_devel>
		</dev>
	</default>
</config>