@CHARSET "UTF-8";

/* Panels */
#dhmedia_devel_block_panels{
	display: block;

	position: fixed !important;
	top: 4.5ex;
	right: 0 !important;
	bottom: 0 !important;
	left: 100%;
	z-index: 9990;

	background-color: #fff;
	text-align: left;

	border-left: 1ex solid #000;
	
	box-shadow: -1px 0px 5px #000;

	opacity: 0.9;

	-webkit-transition: all 0.7s ease-in-out;
	-moz-transition: all 0.7s ease-in-out;
	-o-transition: all 0.7s ease-in-out;
	transition: all 0.7s ease-in-out;
}
#dhmedia_devel_block_panels.resizing{
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;
}
#dhmedia_devel_block_panels.resized {
	-webkit-transition: all 0.7s ease-in-out;
	-moz-transition: all 0.7s ease-in-out;
	-o-transition: all 0.7s ease-in-out;
	transition: all 0.7s ease-in-out;
}
#dhmedia_devel_block_panels.active{

}

/* Panel */
.devel-panel{
	position: relative;
	float: left;
	
	width: 0;
	height: 100%;
	opacity: 0;
	overflow: hidden;

	-webkit-transition: all 0.7s ease-in-out;
	-moz-transition: all 0.7s ease-in-out;
	-o-transition: all 0.7s ease-in-out;
	transition: all 0.7s ease-in-out;
}
.devel-panel iframe{
	height: 100%;
	width: 100%;
	border: 0;
}

.devel-panel.active{
	width: 100%;
	height: 100%;
	opacity: 1;
	overflow: visible;
}

.devel-panel.active.direct-content {
	padding: 1.5%;
	width: 97%;
	overflow: auto;
}

.devel-panel .protector{
	display: none;
	opacity: 0;
	
	-webkit-transition: all 0.7s ease-in-out;
	-moz-transition: all 0.7s ease-in-out;
	-o-transition: all 0.7s ease-in-out;
	transition: all 0.7s ease-in-out;
}
.devel-panel .protector.active{
	display: block;
	opacity: 1;
}

/* Panel Buttons */
.devel-panel-buttons {
	position: absolute;
	top: 5em;
	/* Left is some weird combo of widths/heights, margins, paddings, and borders */
	left: -11.5ex;
	z-index: 1001;
}
.devel-panel-buttons .button {
	display: block;
	
	color: #fff;
	background-color: #222;
	
	width: 10ex;
	height: 2ex;
	line-height: 2ex;
	padding: 1ex 3ex;
	margin: 0 0 13ex 0;

	border-style: solid;
	border-color: #fff;
	border-width: 2px 2px 0 2px;

	text-align: center;
	
	text-shadow: 0 0 2px #333;
	box-shadow: 0px 0px 5px #000;
	-moz-box-shadow: 0px 0px 5px #000;
	-o-box-shadow: 0px 0px 5px #000;

	-moz-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);

	cursor: pointer;

	margin-right: -6ex;
}
.devel-panel-buttons .button:hover,
.devel-panel-buttons .button.active {
	text-shadow: 0px 0px 12px #fff;
	background-color: #000;
	
}
.devel-panel-buttons .button.close {
	color: #996666;
}
.devel-panel-buttons:not(.active) .close {
	display: none;
}

.devel-panel-buttons .button .devel-sprite-icon {
	float: left;
	margin: -0.9ex;
}