@CHARSET "UTF-8";

/*
 * INFO
 * 
 * Small: 24px between each icon
 * Medium: 30px between each icon
 */


.devel-sprite-icon {
	background-image: url(../images/tango.sprite.png);
}

.sprite-small .devel-sprite-icon {	
	width: 24px;
	height: 24px;
}

.sprite-medium .devel-sprite-icon {	
	width: 30px;
	height: 30px;
}

.icon-editor.sprite-small .devel-sprite-icon { background-position: -100px -156px; }
.icon-layoutxml.sprite-small .devel-sprite-icon { background-position: -172px -156px; }
.icon-undo.sprite-small .devel-sprite-icon { background-position: -52px -204px; }
.icon-favorite.sprite-small .devel-sprite-icon { background-position: -76px -204px; }
.icon-important.sprite-small .devel-sprite-icon { background-position: -100px -204px; }
.icon-settings.sprite-small .devel-sprite-icon { background-position: -196px -300px; }
.icon-blocks.sprite-small .devel-sprite-icon { background-position: -244px -300px; }
.icon-close.sprite-small .devel-sprite-icon { background-position: -316px -300px; }
.icon-documentation.sprite-small .devel-sprite-icon { background-position: -604px -300px; }

.icon-editor.sprite-medium .devel-sprite-icon { background-position: -110px -425px; }
.icon-layoutxml.sprite-medium .devel-sprite-icon { background-position: -200px -425px; }
.icon-undo.sprite-medium .devel-sprite-icon { background-position: -350px -485px; }
.icon-favorite.sprite-medium .devel-sprite-icon { background-position: -380px -485px; }
.icon-important.sprite-medium .devel-sprite-icon { background-position: -410px -485px; }
.icon-settings.sprite-medium .devel-sprite-icon { background-position: -470px -635px; }
.icon-blocks.sprite-medium .devel-sprite-icon { background-position: -530px -635px; }