@CHARSET "UTF-8";

/* Body */
body{ padding-top: 4.5ex; }

/* Toolbar */
#dhmedia_devel_block_frontend {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;

	z-index: 9991;

	min-height: 4.5ex;

	color: #ccc;

	text-align: left;
	line-height: normal;
	

	opacity: 0.75;
	-webkit-transition: opacity 3s ease-in-out;
	-moz-transition: opacity 3s ease-in-out;
	transition: opacity 3s ease-in-out;

	-webkit-box-shadow: 0 0 5px #999;
	-moz-box-shadow: 0 0 5px #999;
	-o-box-shadow: 0 0 5px #999;
	box-shadow: 0 0 5px #999;


	background: #4c4c4c; /* Old browsers */
	background: -moz-linear-gradient(top, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c4c4c), color-stop(12%,#595959), color-stop(25%,#666666), color-stop(39%,#474747), color-stop(50%,#2c2c2c), color-stop(51%,#000000), color-stop(60%,#111111), color-stop(76%,#2b2b2b), color-stop(91%,#1c1c1c), color-stop(100%,#131313)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* W3C */
}

#dhmedia_devel_block_frontend:hover {
	opacity: 1;	
	-webkit-transition: opacity 0.1s ease-in-out;
	-moz-transition: opacity 0.1s ease-in-out;
	transition: opacity 0.1s ease-in-out;	
}

/* Links */
#dhmedia_devel_block_frontend a {
	text-decoration: none;
	color: #1E7EC8;
}

/* Menu */
#dhmedia_devel_block_frontend ul {
	/*display: inline-block;*/
	float: left;
}

#dhmedia_devel_block_frontend ul li {
	position: relative;
	display: block;
	margin: 0;
	padding: 0;
	float: left;

	border-left: 1px solid #000000;

	background-color: rgba(255, 255, 255, 0.05);

	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;

	border-radius: inherit;
}

#dhmedia_devel_block_frontend ul li li {
	margin: 1ex;
	float: none;
}

/* 1rst level links - horizontal */
#dhmedia_devel_block_frontend ul li:hover {
	background-color: #000000;

	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}
#dhmedia_devel_block_frontend > ul > li:last-child {
	border-right: 1px solid #000;
}

/* 2nd+ level links - vertical */
#dhmedia_devel_block_frontend ul li ul li:hover {
	background-color: #ccc;
}

/* Menu links */
#dhmedia_devel_block_frontend ul li a {
	display: block;
	padding: 1ex 3ex;
	position: relative;
	/*float: left;*/
	white-space: nowrap;
	clear: both;
}
#dhmedia_devel_block_frontend ul li a.disabled {
	opacity: 0.6;
	color: #666;
	text-decoration: line-through;
}

/* "Show on hover" */
#dhmedia_devel_block_frontend ul li .show-on-hover {
	position: absolute;
	z-index: 99999;
	display: none;

	background-color: #000;
	padding: 1em;
	text-align: left; 

	border-radius: 0 0 5px 5px;

	box-shadow: 0 0 5px #333;

	top: 100%;
	left: 0;
}
#dhmedia_devel_block_frontend ul li ul.show-on-hover {
	padding: 0;
	top: 100%;
}
#dhmedia_devel_block_frontend ul li ul.show-on-hover * {
	border-radius: 5px;
}
/* Sub - "Show on hover" */
#dhmedia_devel_block_frontend ul li ul .show-on-hover {
	top: -5px;
	left: 100%;
	box-shadow: 0 0 10px #000;
}
#dhmedia_devel_block_frontend ul li:hover > .show-on-hover {
	display: block;
}


#dhmedia_devel_block_frontend ul li a.has-more:after {
	content: "+"
}

#dhmedia_devel_block_frontend ul li .show-on-hover .result {
	display: none;
	clear: both;
}

#dhmedia_devel_block_frontend ul li .show-on-hover .result.show {
	display: block;
	border-top: 1px solid #999;
	margin-top: 1em;
	padding-top: 1em;
}

/* Menu icons */
/*
 * @todo
 * This works fine but we are not ready icons yet, so we hide them if any are set
 * (by Jonathan, on 2011-05-16)
 */
#dhmedia_devel_block_frontend ul li a.sprite-small {
	/*padding-left: 5ex;*/
}
#dhmedia_devel_block_frontend ul li a.sprite-small .devel-sprite-icon{
	/*
	position: absolute;
	top: 0.3ex;
	left: 1ex;
	*/
	display: none;
}

/* Tables */
#dhmedia_devel_block_frontend table {
	border-collapse: separate;
	border-spacing: 0 1.5ex;
}

#dhmedia_devel_block_frontend table tr {
	border-bottom: 1px solid #333;
	background-color: #999;
}
#dhmedia_devel_block_frontend table tr:last-child {
	border-bottom: none;
}
#dhmedia_devel_block_frontend table td {
	padding: 0.5ex;
	margin-left: -5px;
	border-radius: 0 5px 5px 0;
	color: #000;
	box-shadow: 0 0 3px #ccc;
}
#dhmedia_devel_block_frontend table th {
	padding: 0.5ex 2ex;
	background-color: #222;
	border-radius: 5px 0 0 5px;
	text-align: center;
	box-shadow: 0 0 3px #555;
}

/* Form elements */
#dhmedia_devel_block_frontend form {
	
}
#dhmedia_devel_block_frontend textarea {
	background-color: #333;
	border: 1px solid #666;
	color: #ccc;

	min-width: 40em;
	min-height: 10em;
	margin-bottom: 1em;
	padding: 1ex;

	border-radius: 5px;
}
#dhmedia_devel_block_frontend input[type='submit'] {
	border-radius: 5px;
	padding: 1ex;
	float: right;
}

/* Doghouse Media link */
#dhmedia_devel_block_frontend .dhlink {
	float: left;
	padding: 1ex 3ex;
	border-left: 1px solid #000;
}
#dhmedia_devel_block_frontend .dhlink span {
	color: #ccc;
}
#dhmedia_devel_block_frontend .dhlink:hover {
	background-color: #000;
}

/* Update notifier box */
#dhmedia_devel_block_frontend .update-notifier-box {
	float: right;
	font-weight: bold;
	padding: 0.5ex 3ex;
}
#dhmedia_devel_block_frontend .update-notifier-box.has-update {
	-webkit-animation: devel-highlight 15s infinite;
}
#dhmedia_devel_block_frontend .update-notifier-box span {
	display: inline-block;
	vertical-align: middle;
}
#dhmedia_devel_block_frontend .update-notifier-box span.devel-sprite-icon {
	margin-right: 0.5ex;
}

/* Clear fix */
#dhmedia_devel_block_frontend .clear-fix{
	clear:both;
}